<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="assets/img/logo.png" style="max-width: 65%; min-width: 65%;" />
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard" routerLinkActive="active"><img src="assets/img/home.png" class="icon-img" />Dashboard</a>
      <a mat-list-item routerLink="team" routerLinkActive="active"><img src="assets/img/team.png" class="icon-img" />Team</a>
      <a mat-list-item routerLink="projects" routerLinkActive="active"><img src="assets/img/projects.png" class="icon-img" />Projects</a>
      <a mat-list-item routerLink="calendar"><img src="assets/img/calendar.png" class="icon-img" />Calendar</a>
      <a mat-list-item routerLink="documents"><img src="assets/img/documents.png" class="icon-img" />Documents</a>
      <a mat-list-item routerLink="reports"><img src="assets/img/reports.png" class="icon-img" />Reports</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="custom">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <form>
        <button mat-icon-button class="favorite-icon" aria-label="icon-button">
          <mat-icon class="icon-bar">search</mat-icon>
        </button>
        <mat-form-field appearance="outline">
          <input type="text" matInput placeholder="Search">
        </mat-form-field>
      </form>
      <span class="bar-spacer"></span>
      <button mat-icon-button class="right-nav" aria-label="Example icon-button with share icon">
        <mat-icon class="icon-bar">notifications</mat-icon>
      </button>
      <img src="assets/img/contacts/contact001.jpg" class="right-nav avatar" />
    </mat-toolbar>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
